<h2 class="m-2 border-brown border-4 bg-orange text-center uppercase">Social</h2>

<section class="bg-lightbrown border-brown border-4 m-2 p-1">

    <section class="grid grid-cols-3 gap-1">
        @for (friend of social; track $index) {
        <article class="flex bg-orange p-2">

            <img class="w-7 h-7 pixelated mr-2"
                [src]="'https://upload.farm/static/assets/npc_icon/'+friend.key.string+'.png'" alt=""
                [title]="friend.key.string" loading="lazy">
            <div class="flex flex-col">
                <p class="font-bold">{{friend.key.string}}</p>

                <p class="flex items-center">{{friend.value.Friendship.Points/274.9 | number:'1.0-0'}}/10 <img
                        class="w-4 h-4 pixelated"
                        src="https://stardewcommunitywiki.com/mediawiki/images/thumb/0/04/HeartIconLarge.png/18px-HeartIconLarge.png"
                        alt=""></p>
                <p>{{friend.value.Friendship.Status}}</p>
                <p>Points: {{friend.value.Friendship.Points}}</p>

            </div>
        </article>
        }
    </section>
</section>