<h2 class="m-2 border-brown border-4 bg-orange text-center uppercase">Farm map</h2>

<section class="relative bg-orange border-brown border-4 m-2">

    <img [src]="farmType" class="relative w-full h-auto pixelated">

    <!-- BUILDINGS -->
    @for (building of buildings; track $index) {
    <div class="absolute" [style]="calculatePosition(building.width, building.tileX, building.tileY)">
        <img [src]="origin+'/assets/building/' + building.buildingType + '.png'" [alt]="building.buildingType"
            [class]="'z-'+building.tileY+' absolute w-full h-auto pixelated bottom-0'">
    </div>
    }

    <!-- ITEMS -->
    @for (item of items; track $index) {
    <div [class]="'z-'+item.tileY+' absolute'" [style]="calculatePosition(item.width, item.tileX, item.tileY)">
        <img [src]="origin+'/assets/item/' + item.buildingType + '.png'" [alt]="item.buildingType"
            [class]="'z-'+item.tileY+' absolute w-full h-auto pixelated bottom-0'">
    </div>
    }

    <!-- TERRAIN -->
    @for (terrain of terrains; track $index) {
    <div [class]="'z-'+terrain.tileY+' absolute'" [style]="calculatePosition(terrain.width, terrain.tileX, terrain.tileY)">
        <img [src]="origin+'/assets/' + terrain.buildingType + '.png'" [alt]="terrain.buildingType"
            [class]="'z-'+terrain.tileY+' absolute w-full h-auto pixelated bottom-0'">
    </div>
    }

</section>