<div class="flex p-2 justify-around bg-orange border-brown border-t-4">

    <a class="github-button" href="https://github.com/jose-web/stardew-resume/issues" target="_blank"
        data-icon="octicon-issue-opened" data-show-count="true"
        aria-label="Issue jose-web/stardew-resume on GitHub">Issue</a>

    <a class="github-button" href="https://github.com/jose-web/stardew-resume" target="_blank" data-icon="octicon-star"
        data-show-count="true" aria-label="Star jose-web/stardew-resume on GitHub">Star</a>

</div>